*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #FFFFFF;
	font-family: 'Alegreya SC', serif;
}

header, .main, footer{
	width: 100%;
	margin: 20px auto;
}

.logo{
	width:10%;
	height:auto;
	text-align:left;
	margin: 5px 900px 5px 0px;
	border-radius:10px;	
}

.foto{
	width: 20%;
	margin:10px;
}

header nav{
	background:#15B6B8;
	overflow: hidden;
	position: relative;
	margin: 5px 0px;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	padding: 20px 40px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

header nav ul li a:hover{
	background: #A1E5E5;
	color:#211174;
}

/*INICIO AREA PRINCIPAL*/

iframe{
	width:68%;
	float:left;
	padding:5px;
	margin:5px;
	
}

section{
	width:30%;
	float:left;
	padding: 5px;
	background: #FFFFFF;
	box-sizing: border-box;
}

/*FIN AREA PRINCIPAL*/

section{
	width: 30%;
	background: #FFFFFF;
	float: left;
	padding: 5px;
	box-sizing: border-box;
}

.actor{
	background:#211174;
	margin:5px 0px;
	text-align: right;
	padding: 10px;
	border-radius:5px;
	color:#FFFFFF;
}

.actor a{
	color:#FFFFFF;
}

section .actividades{
	margin-top:7px; 
	
}

.actividades .agente{
	background:#A1E5E5;
	position: relative;
	margin: 5px 0px;
	border-radius:5px;
}

.actividades .agente ul{
	list-style: none;

}

.actividades nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #211174;
	text-decoration: none;
	text-align: center;
	margin-top:10px;
	
}

.actividades nav ul li a:hover{
	background:#15B6B8;
	border-radius:5px;
	color:#FFFFFF;
}

p{
	font-family: 'Alegreya', serif;
}

footer{
	background:#15B6B8;
	padding: 20px 40px;
	color: #FFFFFF;
	text-align: center;
	clear: both;
}

