*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
	font-family: 'Alegreya SC', serif;
}

body{
	background:#FFFFFF;
}

.ventanaCalificar{
	background:#F5ECCE;
	margin: 5px 5px 10px 5px;
	padding:20px;
	border-radius:10px;
}

form{
	width:50%;
	border: 1px solid #211174;
	padding: 15px;
	margin:auto;
	border-radius:6px;
	background:#A1E5E5;
}

legend{
	font-size: 15px;
	font-weight: bold;
	color: #211174;
}

label{
	width:50%;
	font-size:15px;
	display: inline;
	color:#211174;
}

/*input{
	width:50%;
}*/

/*Estilo botonas*/

.btnEnviar{
	width: 20%;
  	font: bold 90% alegreya;
  	text-decoration: none;
  	background-color:#211174;
  	color:#FFFFFF;
  	padding: 4px 12px 4px 12px;
 	border-radius: 10px;
 	cursor: pointer;
 	display: block;
 	margin: auto;
}

.btnEnviar:hover{
	color:#A1E5E5;
 }


